.container {
    &,
    & > * {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    .wallpaper {
        z-index: 1;
    }

    .bot {
        z-index: 2;
    }

    .chat {
        z-index: 3;
    }
}
