.face {
    position: absolute;
    width: 90%;
    height: 53%;
    top: 90px;
    left: 5%;

    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        .visor {
            position: absolute;
            top: 14%;
            left: 17%;
            width: 66%;
            height: 72%;
            border-radius: 17%;

            &.back{
                z-index: -1;
            }

            &.wave{
                background-image: url("../../../../../../../assets/images/pixel.png");
                animation: wave 200ms ease infinite;
                z-index: 2; 
            }
        }

        .helmet {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;

            img {
                width: auto;
                height: 390px;
            }
        }
    }
}
