@import "../../../../../../../assets/styles/variables.scss";

.controls {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;

    .input-wrapper,
    .submit-wrapper {
        box-sizing: border-box;
        height: 100%;
        padding: 3px;
    }

    .input-wrapper {
        width: calc(100% - 135px);

        .input {
            width: 100%;
            border-radius: 5px;
            border: solid 1px rgba(#ffffff, 0.01);
            height: 100%;
            background-color: #eeeeee;
            box-sizing: border-box;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            padding-left: 13px;
            outline: 0 !important;
            font-size: 17px;
            color: #202020;

            &.disabled {
                background: #c1c1c1;
                color: #9b9b9b;
            }
        }
    }

    .submit-wrapper {
        width: 135px;

        .submit {
            height: 100%;
            width: 100%;
            position: relative;
            border: none;
            margin: 0;
            font-size: 1rem;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            cursor: pointer;
            text-align: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none !important;
            border: none !important;

            &:after {
                content: "send";
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                text-transform: uppercase;
                width: 97%;
                height: 94%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 1.5%;
                top: 3%;
            }

            &.disabled {
                background: #4a4a4a;
                cursor: wait;

                &:after {
                    background-color: #b1b1b1;
                    color: #545454;
                    font-size: 1.1rem;
                }
            }

            &:not(.disabled) {
                color: #ffffff;
                background-image: linear-gradient(
                    90deg,
                    $theme-red 0%,
                    $theme-orange 15%,
                    $theme-yellow 30%,
                    $theme-green 45%,
                    $theme-blue 50%,
                    $theme-red 100%,
                );

                &:hover,
                &:focus {
                    animation: runRainbow 1s linear infinite;

                    @at-root {
                        @keyframes runRainbow {
                            100% {
                                background-position: -129px;
                            }
                        }
                    }
                }

                &:after {
                    background-color: #191919;
                    color: #ffffff;
                    font-size: 1.3rem;
                }

                &:focus {
                    outline: none !important;
                    outline-offset: -4px;
                }

                &:active {
                    transform: scale(0.97);
                }
            }
        }
    }
}
