<div class="chat">

    <!-- <button (click)="send()"> enviar </button> <input type="text" [(ngModel)]="message"> -->

    <button (click)="test('CHANGE_STATE_NORMAL')"> CHANGE_STATE_NORMAL </button>
    <button (click)="test('CHANGE_STATE_ANGRY')"> CHANGE_STATE_ANGRY </button>
    <button (click)="test('CHANGE_STATE_SAD')"> CHANGE_STATE_SAD </button>

    <button class="disabled"> CHANGE_STATE_HAPPY </button> <!-- (click)="test('CHANGE_STATE_HAPPY')" -->
    <button class="disabled"> CHANGE_STATE_STAR </button> <!-- (click)="test('CHANGE_STATE_STAR')" -->
    <button class="disabled"> CHANGE_STATE_CLOSED </button> <!-- (click)="test('CHANGE_STATE_CLOSED')" -->
    <button class="disabled"> CHANGE_STATE_BORED </button> <!-- (click)="test('CHANGE_STATE_BORED')" -->
    <button class="disabled"> CHANGE_STATE_CAREFUL </button> <!-- (click)="test('CHANGE_STATE_CAREFUL')" -->

</div>