<div class="chat">

    <button (click)="test('CHANGE_EMOTION_NORMAL')"> CHANGE_EMOTION_NORMAL </button>
    <button (click)="test('CHANGE_EMOTION_ANGRY')"> CHANGE_EMOTION_ANGRY </button>
    <button (click)="test('CHANGE_EMOTION_SAD')"> CHANGE_EMOTION_SAD </button>
    <button (click)="test('CHANGE_EMOTION_HAPPY')"> CHANGE_EMOTION_HAPPY </button>

    <button class="disabled"> CHANGE_EMOTION_STAR </button> <!-- (click)="test('CHANGE_EMOTION_STAR')" -->
    <button class="disabled"> CHANGE_EMOTION_CONFUSED </button> <!-- (click)="test('CHANGE_EMOTION_CONFUSED')" -->

    <button (click)="test('CHANGE_EMOTION_BORED')"> CHANGE_EMOTION_BORED </button>
    <button (click)="test('CHANGE_EMOTION_CAREFUL')"> CHANGE_EMOTION_CAREFUL </button>

</div>

<!-- <button (click)="send()"> enviar </button> <input type="text" [(ngModel)]="message"> -->