<div class="chat">

    <button (click)="test('CHANGE_STATE_NORMAL')"> CHANGE_STATE_NORMAL </button>
    <button (click)="test('CHANGE_STATE_ANGRY')"> CHANGE_STATE_ANGRY </button>
    <button (click)="test('CHANGE_STATE_SAD')"> CHANGE_STATE_SAD </button>
    <button (click)="test('CHANGE_STATE_HAPPY')"> CHANGE_STATE_HAPPY </button>

    <button class="disabled"> CHANGE_STATE_STAR </button> <!-- (click)="test('CHANGE_STATE_STAR')" -->
    <button class="disabled"> CHANGE_STATE_CONFUSED </button> <!-- (click)="test('CHANGE_STATE_CONFUSED')" -->

    <button (click)="test('CHANGE_STATE_BORED')"> CHANGE_STATE_BORED </button>
    <button (click)="test('CHANGE_STATE_CAREFUL')"> CHANGE_STATE_CAREFUL </button>

</div>

<!-- <button (click)="send()"> enviar </button> <input type="text" [(ngModel)]="message"> -->