$chat-width: 45vw;
$chat-height: 90%;

.chat {
    position: absolute;
    width: $chat-width;
    height: $chat-height;
    max-height: 768px;
    max-width: 670px;
    top: 5%;
    left: 53vw;
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;
    // background-color: maroon;
}

// temp

button {
    display: inline-block;
    border: none;
    width: 100%;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1;
    transition: background 250ms ease-in-out, transform 150ms ease;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;

    &.disabled {
        background: #c1c1c1;
        color: #9b9b9b;
        outline: none !important;
        border: none !important;
        cursor: default;
    }

    &:not(.disabled) {
        background: #0069ed;
        color: #ffffff;

        &:hover,
        &:focus {
            background: #0053ba;
        }
        &:focus {
            outline: 1px solid #fff;
            outline-offset: -4px;
        }

        &:active {
            transform: scale(0.99);
        }
    }
}
