<div class="viewport">
    <div [ngClass]="command.eyeClasses()" [ngStyle]="command.eyeStyles()">
        <div class="wrapper">
            <div [ngClass]="command.scleraClasses()" [ngStyle]="command.scleraStyles()">
                <div [ngClass]="command.lidRightTopClasses()" [ngStyle]="command.lidRightTopStyles()"> </div>
                <div [ngClass]="command.lidRightBotClasses()" [ngStyle]="command.lidRightBotStyles()"> </div>
                <div [ngClass]="command.irisClasses()" [ngStyle]="command.irisStyles()"> </div>
            </div>
        </div>
    </div>
</div>