@import "../../../../../../assets/styles/transitions.scss";

$bot-width: 700px;
$bot-height: 100%;

.container {
    @include transitioning();
    width: $bot-width;
    height: $bot-height;
    overflow: hidden;
    position: relative;
    padding-top: 140px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    background-color: rgb(0, 255, 102);

    &.floating {
        animation: floating 2s ease infinite;
    }
}
