@import '../../../../../../../assets/styles/transitions.scss';

.head {
    @include transitioning;
    position: absolute;
    width: 90%;
    height: 53%;
    top: 90px;
    left: 5%;

    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .screen {
        position: absolute;
        top: 14%;
        left: 17%;
        width: 66%;
        height: 72%;
        border-radius: 17%;
        overflow: hidden;

        .face {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .visor {
            background-image: url("../../../../../../../assets/images/pixel.png");
            animation: wave 200ms ease infinite;
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
