<div class="wrapper">
    <div class="transition">
        <app-wallpaper-transition [command]="command"> </app-wallpaper-transition>
    </div>
    <div class="background">
        <app-wallpaper-background [command]="command"> </app-wallpaper-background>
    </div>
    <div class="component">
        <ng-container *ngIf="command.component.wallpaper === 'image'">
            <app-wallpaper-image [command]="command"> </app-wallpaper-image>
        </ng-container>
        <ng-container *ngIf="command.component.wallpaper === 'engine'">
            <app-wallpaper-engine [command]="command"> </app-wallpaper-engine>
        </ng-container>
    </div>
</div>