.background {
    width: 100%;
    height: 100%;
    position: relative;

    .gear {
        width: 200px;
        &.gear-1 {
            background-color: line;
        }
        &.gear-2 {
            background-color: blue;
        }
        &.gear-3 {
            background-color: purple;
        }
    }
}
