<div class="viewport" [ngStyle]="command.getViewportStyles()">
    <div class="eye" [ngStyle]="command.getEyeStyles()">
        <div class="wrapper">
            <div class="sclera" [ngStyle]="command.getScleraStyles()">
                <div class="lid top" [ngStyle]="command.getLidRightTopStyles()"> </div>
                <div class="lid bot" [ngStyle]="command.getLidRightBotStyles()"> </div>
                <div class="iris" [ngStyle]="command.getIrisStyles()"> </div>
            </div>
        </div>
    </div>
</div>