.messages {
    width: 100%;
    height: 100%;
    background-color: lime;
    box-sizing: border-box;
    padding-bottom: 30px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background: red;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #ffffff;
        background-color: #ffffff;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: lighten(red, 5%);
    }

    .message {
        width: 100%;
        // min-height: 70px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &.right {
            padding-right: 30px;
            justify-content: flex-end;
        }

        &.left {
            padding-left: 30px;
            justify-content: flex-start;
        }

        .balloon {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            height: 100%;
            margin: 5px;
            // backgr

            .content {
                box-sizing: border-box;
                padding: 10px;
                height: 100%;

                .author {
                }

                .message {
                }

                .when {
                }
            }
        }
    }
}
