<div class="messages">

    <ng-template ngFor let-balloon [ngForOf]="balloons">

        <div class="message">

            <!-- {{message | json}} -->

            {{balloon.message.getTimeSince()}}

            <!-- {
                "message": {
                    "message": "sim",
                    "author": "you",
                    "side": "right",la
                    "content": "standard",
                    "when": "2021-03-01T01:04:47.655Z"
                },
                "command": {
                    "content": {
                        "color": "#f0f0f0",
                        "effect": "none"
                    },
                    "shape": {
                        "background": "#000000",
                        "shape": "spiked",
                        "effect": "none"
                    }
                }
            } -->

            <div class="balloon">

            </div>

            <div class="photo">

            </div>

        </div>

    </ng-template>

</div>