.messages {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    // padding-bottom: 30px;
    overflow-y: scroll;

    &, * {
        transition: ease all 1s;
    }

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(#ffffff, 0.2);
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(#ffffff, 0.4); 
    }

    .message {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &.right {
            padding-right: 30px;
            justify-content: flex-end;

            .balloon {
                .corner {
                    right: -20px;
                    top: 0;
                }
                .content .header {
                    justify-content: flex-end;
                }
            }
        }

        &.left {
            padding-left: 30px;
            justify-content: flex-start;

            .balloon {
                .corner {
                    right: calc(100% + -20px);
                    top: 0;
                }
                .content .header {
                    justify-content: flex-start;
                }
            }
        }

        .balloon {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            position: relative;
            min-width: 170px;
            max-width: 75%;
            height: 100%;
            margin: 8px 0px;
            border-radius: 5px;
            box-shadow: 0px 0px 35px -23px black;

            .corner {
                position: absolute;
                height: 0px;
                width: 0px;
                border-style: solid;
                border-width: 20px;
                border-bottom-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
            }

            .content {
                box-sizing: border-box;
                height: 100%;

                .header {
                    padding: 4px 10px;
                    display: flex;
                    align-items: center;

                    .when {
                        font-style: italic;
                        font-size: 12px;
                        opacity: 0.8;
                    }
                }

                .message {
                    padding: 4px 10px;
                    text-align: justify;
                }
            }
        }
    }
}
