.messages {
    width: 100%;
    height: 100%;
    background-color: lime;

    .message {
        width: 100%;
        height: 100px;
        background: red;
        margin: 10px 0px;
        display: flex;
        // just'ify-content: right;

        .balloon,
        .photo {
            height: 100%;
        }

        .balloon {
            // backgr
        }
        .photo {
        }
    }
}
