<div class="viewport" [ngStyle]="command.viewportStyles()">
    <div class="eye" [ngStyle]="command.eyeStyles()">
        <div class="wrapper">
            <div class="sclera" [ngStyle]="command.scleraStyles()">
                <div class="lid top" [ngStyle]="command.lidRightTopStyles()"> </div>
                <div class="lid bot" [ngStyle]="command.lidRightBotStyles()"> </div>
                <div class="iris" [ngStyle]="command.irisStyles()"> </div>
            </div>
        </div>
    </div>
</div>