@import "../../../../../../assets/styles/transitions.scss";

$bot-width: 700px;
$bot-height: 100%;

.container {
    width: $bot-width;
    height: $bot-height;
    overflow: hidden;

    &,
    * {
        box-sizing: border-box;
    }

    .head {
        @include transitioning();
        padding-top: 10vh;
        display: flex;
        justify-content: space-evenly;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
}
