$bot-width: 650px;
$bot-height: 550px;

.container {
    position: absolute;
    width: $bot-width;
    height: $bot-height;
    top: calc((100vh - #{$bot-height}) / 2);
    left: 7vw;
    // background-color: #000000;
    background-color: #333333;
    box-sizing: border-box;
    padding-top: 10vh;

    .head {
        display: flex;
        justify-content: space-evenly;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
}
