.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;

    .chat {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;

        .messages {
            height: calc(100% - (55px + 10px));
            width: 100%;
        }

        .controls {
            margin-top: 10px;
            width: 100%;
            height: 55px;
        }
    }
}
