.floating {
    animation: floating 2s ease infinite;
}

@keyframes floating {
    0%,
    100% {
        margin-top: 0px;
    }
    50% {
        margin-top: 10px;
    }
}

.wave {
    animation: wave 200ms ease infinite;
}

@keyframes wave {
    0%,
    100% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.25);
    }
}
