.eye {
    .wrapper {
        .sclera {
            &.fire {
                background-image: url("../gifs/fire.gif");
            }

            &.wave {
                background-image: url("../gifs/wave.gif");
                background-size: 300px;
            }

            &.rainbow {
                background-image: url("../gifs/rainbow.gif");
            }

            &.pink {
                background-image: url("../gifs/pink.gif");
                background-size: cover;
            }

            &.clouds {
                background-image: url("../gifs/clouds.gif");
                background-size: 1000px;
                background-position: 10% 10%;
            }
        }
    }
}
