.eye {
    .wrapper {
        .sclera {
            &.fire {
                background-image: url("../gifs/fire.gif");
            }

            &.rainbow {
                background-image: url("../gifs/rainbow.gif");
            }

            &.pink {
                background-image: url("../gifs/pink.gif");
                background-size: cover;
            }

            &.clouds {
                background-image: url("../gifs/clouds.gif");
                background-size: 1000px;
                background-position: 10% 10%;
            }

            // &.soon {
            // background-size: 700px 700px;
            // background-position: 100% 0;
            // background-image: url("https://thumbs.gfycat.com/SpecificDaringKakapo-size_restricted.gif");
            // background-image: url("https://cdn.pixilart.com/photos/large/82de6b3873e9520.gif");
            // background-image: url(https://media1.tenor.com/images/5a6943b…/tenor.gif?itemid=11458702);
            // background-size: cover;
            // background-position: 30% 50px;;
            // background-image: url('https://i.imgur.com/UeD3N.gif');
            // }
        }
    }
}
