.eye {
    background: #000000;

    &, * {
        transition: 500ms cubic-bezier(0.15, 0.65, 0.95, 0.95);
    }

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        mix-blend-mode: lighten;
        filter: blur(0.3rem) contrast(10);

        .sclera {
            width: 85%;
            height: 85%;
            position: relative;
            border-radius: 100%;
            overflow: hidden;
            box-shadow: 0 0 0 8px #000000;
            background: #ffffff;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(#ffffff, 0.35);
                position: absolute;
                top: 0;
                left: 0;
            }

            .iris {
                position: absolute;
                transition: 10ms ease all;
            }

            .lid {
                position: absolute;
                width: 300%;
                height: 100%;
                left: -100%;
                background: black;
            }
        }
    }
}
