@import "https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap";
@import "./variables.scss";

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    background-color: $theme-dark;
    color: $theme-light;
    font-size: 100%;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
}
