<div class="eye">

    <div class="wrapper">

        <div class="sclera">

            <div class="lid top"> </div>

            <div class="lid bot"> </div>

            <div class="iris"> </div>

        </div>

    </div>

</div>

<!-- <div class="eye" [ngStyle]="eye()">
    <div class="sclera" [ngStyle]="sclera()">
        <div class="iris">

            <div class="wrapper wrapper-top" [ngStyle]="top()"></div>
            <div class="wrapper wrapper-bot" [ngStyle]="bot()"></div>
        </div>
    </div>
</div> -->