<div class="container">

    <div class="face">

        <div class="eye left">

            <div class="wrapper top"> </div>

            <div class="wrapper bot"> </div>

        </div>

    </div>

</div>

<!-- <div class="eye" [ngStyle]="eye()">
    <div class="sclera" [ngStyle]="sclera()">
        <div class="iris">

            <div class="wrapper wrapper-top" [ngStyle]="top()"></div>
            <div class="wrapper wrapper-bot" [ngStyle]="bot()"></div>
        </div>
    </div>
</div> -->